$blue-dark: #0B2D71;
$blue: #0066B2;
$blue-light: #009FDA;
$blue-middle-light: #B2E2F4;
$blue-low-light: #F4FBFE;
$green: #B2CC34;
$red: #E21836;
$yellow: #FAAB18;
$orange: #DA9C36;
$black: #212121;
$gray-dark: #6B6D6F;
$gray: #C8C8C8;
$gray-light: #EDEDEE;
$white: #FFFFFF;


$page-min-width: 1024px;
$page-header-height: 80px;
$page-sidebar-width: 300px;

$z-index-modal: 15;
$z-index-overlay: 14;
$z-index-sidebar: 13;
$z-index-tooltip: 12;
$z-index-page-header: 11;
$z-index-page-body: 10;


.app-header {
  height: $page-header-height;
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background-color: $blue-middle-light;
  z-index: $z-index-page-header;
  color: $white;
}

.app-header__logo {
//   background: url('.../../../../../../assets/images/PTTEP_Logo.png') no-repeat;
  height: $page-header-height - 10px;
  min-width: 60px;
  background-size: contain;
}

.app-header__title {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.app-header__page-title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  max-width: 600px;
  color: $blue-dark;
}

.app-header__user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  height: $page-header-height;
  flex: 1 0 auto;
  color: $blue-dark;
}
