<header class="app-header">
    <div class="app-header__logo"></div>
    <div class="app-header__title">
        <div class="app-header__page-title">
            {{pageTitle}}
        </div>
    </div>
    <div class="app-header__user-info">
        {{authenticatedUser.firstName}} {{authenticatedUser.lastName}}
    </div>
</header>